<aside class="post--latest small-12 medium-4 columns">
  <div class="teasers-block">
    <h2 class="teasers-block--title">Notícias</h2>
    <div class="row">
      {{#foreach posts}}
        {{^if featured}}
          <article class="teasers-block--post teasers-block--post--{{post_class}} small-12 medium-4 large-3 columns">
              <header class="teasers-block--post--post-header">
                  <h2 class="teasers-block--post--post-header---title">
                    <a href="{{url}}">{{{title}}}</a>
                  </h2>
              </header>
              <section class="post-excerpt">
                {{#if image}}
                  <div class="teasers-block--post--post-image--wrapper">
                    <a href="{{url}}" class="teasers-block--post--post-image--link">
                      <img src="{{image}}" alt="{{title}}" class="teasers-block--post--post-image--image">
                    </a>
                  </div>
                {{/if}}

                <time class="teasers-block--post--post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
                <p class="teasers-block--post--post-excerpt">{{excerpt words="26"}}</p>
                <div class="teasers-block--post--read-more">
                  <a href="{{url}}">Ler mais</a>
                </div>
              </section>
          </article>
        {{/if}}
      {{/foreach}}
    </div>
  </div>
</aside>