{{!< default}}

{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<h1>saaa???</h1>

<header class="main-header {{#if @blog.cover_image}}" style="background-image: url({{@blog.cover_image}}){{else}}no-cover{{/if}}">
  <div class="vertical">
    <div class="main-header-content">
        {{#get "posts" limit="5" fields="feature_image, title, image, language, slug, url, excerpt" filter="featured:true"}}
        <div class="orbit orbit--cdigital" role="region" aria-label="Favorite Space Pictures">
          
          <ul class="orbit-container orbit--container">
            <button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
            <button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button>
            {{#foreach posts}}
              <li class="{{#if @first}}is-active {{/if}}orbit-slide" style="background-image: url({{feature_image}})">
                <div class="orbit-slide__title">
                  <a href="{{slug}}">{{title}}</a>
                </div>
                <div class="orbit-slide__read-more-link">
                  <a href="{{slug}}">Ler mais</a>
                </div>
              </li>
            {{/foreach}}
          </ul>
        </div>
        {{/get}}
      </div>
    </div>

    {{!-- <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a> --}}
</header>

{{! The main content area on the homepage }}
<main id="content" class="content small-12 columns" role="main">

    <div class="row">

      <div class="small-12 columns">

          <div class="row">
            <div class="small-12 columns">
              <div class=""></div>
            </div>
            <div class="small-12 columns">
              <div class="teasers-block">
                <h2 class="teasers-block--title">Notícias</h2>
                <div class="row">
                {{#get "posts" limit="8" fields="title, image, language, slug, html" filter="featured:-true"}}
                  {{#foreach posts}}
                    <article class="teasers-block--post teasers-block--post small-12 medium-4 large-3 columns">
                        <header class="teasers-block--post--post-header">
                            <h2 class="teasers-block--post--post-header---title">
                              <a href="{{slug}}">{{{title}}}</a>
                            </h2>
                        </header>
                        <section class="post-excerpt">
                          {{#if feature_image}}
                            <div class="teasers-block--post--post-image--wrapper">
                              <a href="{{slug}}" class="teasers-block--post--post-image--link" style="background-image: url({{feature_image}});">
                                {{!-- <img src="{{feature_image}}" alt="{{title}}" class="teasers-block--post--post-image--image"> --}}
                              </a>
                            </div>
                          {{/if}}

                          <time class="teasers-block--post--post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
                          <p class="teasers-block--post--post-excerpt">{{excerpt words="26"}}</p>
                          <div class="teasers-block--post--read-more">
                            <a href="{{slug}}">Ler mais</a>
                          </div>
                        </section>
                    </article>
                  {{/foreach}}
                {{/get}}
                </div>
              </div>

            </div>

        </div>
      </div>
      

    </div>

</main>
