{{!< default}}


{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

{{!-- <header class="main-header post-head {{#if feature_image}}" style="background-image: url({{feature_image}}){{else}}no-cover{{/if}}"> --}}
    {{!-- <nav class="main-nav {{#if feature_image}}overlay{{/if}} clearfix">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
        {{#if @blog.navigation}}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {{/if}}
    </nav> --}}
{{!-- </header> --}}

<main class="content small-12 medium-8 columns" role="main">
    <article class="post--wrapper post--{{post_class}} ">

        <header class="post-header">
            <h1 class="post--title">{{title}}</h1>
            <section class="post--meta">
                {{#author}}
                    <a class="post--author" href="{{url}}">{{name}}</a>

                        {{#if feature_image}}
                        <figure class="author-image">
                            <a class="img" href="{{url}}" style="background-image: url({{feature_image}})"><span class="hidden">{{name}}'s Picture</span></a>
                        </figure>
                        {{/if}}


                {{/author}}
                <time class="post--date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
            </section>
        </header>

        <section class="post--content">
          {{#if feature_image}}
          <div class="post--content--image">
            <img src="{{feature_image}}" alt="{{title}}" class="teasers-block--post--post-image--image">
          </div>
          {{/if}}
          {{content}}
        </section>

        <footer class="post__footer">
          {{#if tags}}
            <section class="post__footer__tags">
            {{!-- <ul> --}}
            {{#foreach tags}}
              {{!-- <li> --}}
                <a href="{{url}}" title="{{name}}" class="tag-{{comment_id}}">{{name}}</a>
              {{!-- </li>  --}}
            {{/foreach}}
            {{!-- </ul> --}}
            </section>
          {{/if}}

          <section class="post__footer__share">
              <div class="addthis_sharing_toolbox"></div>
              {{!-- <a class="icon-twitter" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
                  onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                  <span class="hidden">Twitter</span>
              </a>
              <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                  onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                  <span class="hidden">Facebook</span>
              </a>
              <a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
                 onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                  <span class="hidden">Google+</span>
              </a> --}}
          </section>

        </footer>

    </article>
</main>
{{/post}}

<aside class="post--read-next small-12 medium-3 medium-push-1 columns">
  <div class="teasers-block">
  <h2 class="teasers-block--title">Notícias</h2>
  <div class="row">
    {{#get "posts" limit="4" fields="title, image, language, slug, html, url"}}
    {{#foreach posts}}
    <article class="teasers-block--post small-12 columns">
        <header class="teasers-block--post--post-header">
            <h2 class="teasers-block--post--post-header---title">
              <a href="/{{slug}}">{{{title}}}</a>
            </h2>
        </header>
        <section class="post-excerpt">
          {{#if feature_image}}
            <div class="teasers-block--post--post-image--wrapper">
              <a href="/{{slug}}" class="teasers-block--post--post-image--link" style="background-image: url({{feature_image}});">
                {{!-- <img src="{{feature_image}}" alt="{{title}}" class="teasers-block--post--post-image--image"> --}}
              </a>
            </div>
          {{/if}}

          <time class="teasers-block--post--post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
          <p class="teasers-block--post--post-excerpt">{{excerpt words="26"}}</p>
          <div class="teasers-block--post--read-more">
            <a href="/{{slug}}">Ler mais</a>
          </div>
        </section>
    </article>
      {{/foreach}}
    {{/get}}
  </div>
  </div>
</aside>




feature_image